@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/GeneralZone.cshtml";
}

<!doctype html>

<html lang="en">
	<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<head>
  <meta charset="utf-8">
  <title>Accordion By Webdevtrick.com</title>
  
    <link href="~/Content/css/AboutUs.css" rel="stylesheet" />
</head>

<body>
  <!-- content starts here -->
  <div class="container">
    <h1>About Tutorial</h1>

    <button class="accordion">About Tutorial</button>
    <div class="accordion-content">
      <p>
       This website teaches computer programming. This skill is very useful: with programming you can automate computer tasks, make art and music, interpret and analyze survey results, build tools for other people, create custom websites, write games, examine genetic data, connect people with each other, and the list goes on and on.
      </p>
      <p>
        The exercises and writing are aimed at people who have no prior experience programming. If you have some experience programming in other languages, then going through all of the lessons should be a bit easier. Both adults and students can go through all of the lessons at their own speed.
      </p>
      <p>
        If you would like a more gradual, video-based presentation to Python, you may want to examine Python from Scratch, offered by the University of Waterloo. There is also a video series on Language Independent Programming Lessons which can be a useful supplement.
      </p>
    </div>


    <button class="accordion">Exercises</button>
    <div class="accordion-content">
      <p>
        Our first exercise is given below. It asks you to write a program similar to the first one above. Type your program into the box, and when you want to test whether your program correctly performs the task, press the Run program button. If you don't get it correct on the first try, edit the program and try running it again.
      </p>
        <p>
            Once you get an exercise like this correct, you will see a checkmark  appear in the top right corner of the box. If you are logged in, the Computer Science Circles website will remember which exercises you complete.
        </p>
    </div>


    <button class="accordion">Extra Practice</button>
    <div class="accordion-content">
      <p>
        This lesson contains extra practice exercises, some of which are challenging. If you get stuck, feel free to skip to the next problem or lesson and come back later. You can always use the My Progress page to review all past exercises.
      </p>
    </div>
  </div>
  <!-- contend ends here -->
    <script src="~/Content/js/AboutUs.js"></script>
</body>
</html>
