@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/GeneralZone.cshtml";
}

<html>
 
<head>
  
  <title>3D Image Gallery In CSS | Webdevtrick.com</title>
    <link href="~/Content/css/Templates.css" rel="stylesheet" />
	
</head>
<body>
 
  <div class="container-fluid" style="background:gray; margin-bottom:2%;">
  <div class="row" style="margin-top:2%;">
    <div class="col-md-6">
      
        <div class="card">
            <img src="~/Content/themes/temp11.png" width="100%;" />
		<p class="desc">edutechtips</p>
        
      </div>
    </div>
    
    <div class="col-md-6">
      
        <div class="card">
            <img src="~/Content/themes/temp19.jpg" width="100%;" />
          <p class="desc">edutechtips</p>
        
      </div>
    </div>
    
    </div>
    
      <div class="row" style="margin-bottom:2%; margin-top:2%;">
          <div class="col-md-6">
      
        <div class="card">
            <img src="~/Content/themes/temp1.png" width="100%;" />
		<p class="desc">edutechtips</p>
        
      </div>
    </div>
    
    <div class="col-md-6">
      
        <div class="card">
            <img src="~/Content/themes/temp4.png" width="100%;" />
          <p class="desc">edutechtips</p>
       
      </div>
    </div>
      </div>

  </div>

  
</body>
 
</html>